<div class="page-header">
  <div class="row">
    <div class="col-md-10">
      <h1>Tools</h1>
    </div><br>
    <div class="col-sm-2">
      <%= link_to 'Add New Tool', new_tool_path, class: "btn btn-primary" %>
    </div>
  </div>
</div><br>





