<div class="page-header">
  <div class="row">
    <div class="col-md-10">
      <h1>Employees</h1>
    </div><br>
    <div class="col-sm-2">
      <%= link_to 'Add Employee', new_employee_path, class: "btn btn-primary" %>
    </div>
  </div>
</div><br>


<%= render 'employees' %>
