<div class="container">
  <%= render 'welcome/nav' %>
</div><br>

<div class="container">
  <div class="col-md-8">
    <iframe height="700" allowTransparency="true" frameborder="0" scrolling="yes" style="width:100%;border:none"  src="https://toolhero.wufoo.com/embed/z1c5qof21hi4uyg/">
      <a href="https://toolhero.wufoo.com/forms/z1c5qof21hi4uyg/"></a>
    </iframe>
  </div>
  <div class="col-md-4"></div>
</div>
