  <div class="jumbotron">
    <div class="container">
      <%= render 'welcome/nav' %>
      <div id="hero-fade" class="col-md-12 hero-content ">
        <h1 class="hero-title">Don't be left in the dark.</h1>
        <h3>Know where your expensive tools and equipment are.</h3>
        <div class="col-md-4 col-md-offset-5">
          <p class="button"><%= link_to "Create an Account", new_account_path, class: 'btn btn-lg btn-ghost' %></p>
        </div>
      </div>
    </div>
  </div>

<div>
  <div class="container">
    <div class="col-md-12 intro">
      <h1>Tired of using spreadsheets and paper to track your tools or equipment?</h1>
    </div>
    <div class="col-md-4">
      <h3>Control Your Inventory</h3>
      <p>Track your inventory and see who it was issued to.</p>
    </div>

    <div class="col-md-4">
      <h3>Cloud Based</h3>
      <p>Manage tools and equipment remotely at any time or day, from anywhere in the world and from any device.</p>
    </div>

    <div class="col-md-4">
      <h3>Do You Know Where Your Tools Are?</h3>
      <p>ToolHero will have your tools and supplies when and where you need them.</p>
    </div>
  </div>
</div>


<section>
  <div class="container">
      <div class="col-md-6">
        <%= image_tag("app-screen.png", :alt => "toolhero") %>
      </div>

      <div class="col-md-6">
        <h2 id="beta">Beta</h2>
        <p>While in beta, you are free to use the software.  Each account has one user with storage space of 2GB.</p>
        <p><strong>Whats to come?</strong></p>
        <p>Multiple locations, employee portal, reports, monitor and schedule maintenance.</p>
      </div>
  </div>
</section>


<section>
  <div class="container">
      <div class="col-md-6">
        <h2 id="features">Features</h2>
        <p>Keep inventory of you equipment or specialized tools.</p>
        <ul>
          <li>Know exactly which employee checked out the tool.</li>
          <li>Track an unlimited number of assets.</li>
          <li>Issue and return of your equipment.</li>
          <li>Any time access from anywhere, cloud based software.</li>
        </ul>
      </div>

      <div class="col-md-6">
        <%= image_tag("tool-barcode.png") %>
      </div>

  </div>
</section>
