  <div class="jumbotron" id="top">
    <div class="container">
      <%= render 'welcome/nav' %>
      <div id="hero-fade" class="col-md-12 hero-content">
        <h1 class="hero-title">It&rsquo;s <span class="time-now"></span>.<br>Where are your <span class="typedjs"></span></h1>
        <h3>Get <strong>ToolHERO</strong>. Know where your tools are.</h3>
          <p class="button"><%= link_to "Request Beta Access", beta_path, class: 'btn btn-lg btn-ghost' %></p>
      </div>
    </div>
  </div>

<div>
  <div class="container">
    <div class="col-md-10 col-md-offset-1 intro">
      <h1><strong> ToolHERO is tool-tracking. Perfected.</strong></h1>

      <p class='lead'>Time is money. Time spent looking for your expensive tools and equipment is time you&#8217;re not spending on your job. Tracking down who took what and when is frustrating. And let&rsquo;s not even mention the unnecessary hassle of replacing stuff that's gone missing or been lost.</p>

      <p class='lead slug'>You have better things to do. Save your day with <strong>ToolHERO</strong>.</p>
    </div>   
  </div>
</div>


<section class="works-section" id="how">
  <div class="container">
      <div class="col-md-6">
        <%= image_tag("tool-barcode.png", :alt => "toolhero") %>
      </div>

      <div class="col-md-6">
        <h2 >How does ToolHERO work?</h2>
        <p> You generate small barcode labels, either with us or on your own, then apply those labels to the tools and equipment in your inventory. Track an unlimited number of assets. Any piece of equipment that can take a label can be tracked by ToolHERO. </p>

        <p>Then import your full list of inventory and employees into ToolHERO and let the tracking begin! </p>

        <p>Using the built in camera on your tablet or smartphone you scan the tool or piece of equipment and match it to the employee that checked it out &#8211; Boom! You are now tracking your inventory with ToolHERO! Now you know who has what and when they need to bring it back. </p>

        <p>Because ToolHERO exists in the cloud there is no software to install, no proprietary hardware is necessary. You already have everything you need to get started. </p>
      </div>
  </div>
</section>


<section id="features" class="features-section">
  <div class="container">      

    <h2 >  <a data-scroll href="#top"><button type="button" class="btn btn-default" aria-label="Left Align">
  <span class="glyphicon glyphicon-circle-arrow-up" aria-hidden="true"></span>
  </button> </a>Key Features</h2>
      <div class="col-md-4">
        <h3>Control Your Inventory</h3>
          <p>It&#8217;s time to retire the Excel spreadsheet and (shudder) pen and paper log book that you&#8217;ve been using to track your equipment. Instantly see who your equipment was issued to and by whom.</p>
      </div>

      <div class="col-md-4">
        <h3>Cloud Based</h3>
        <p> Move into the future with cloud based software that you can run on your phone. Manage tools and equipment remotely at any time or day, from anywhere in the world and from any device.</p>
      </div>

      <div class="col-md-4">
        <h3>Easy-to-Use</h3>
        <p>You won't need an advanced degree to use our software. Simple, effective and easy-to-learn, <strong>ToolHERO</strong> will give you the control you always wanted for a fraction of the cost of any comparable system.</p>
      </div>
  </div>
</section>
<section id="roadmap" class="roadmap-section">
  <div class="container">       
    <h2 >Roadmap</h2>
      <div class="col-md-6">
        <p>We have ambitious plans for future development. Here are some of the things we're planning to include in future versions of ToolHERO.</p>
        <ul>
          <li>Off-line use. Working in a space with horrible internet connectivity? We hear you.</li>
          <li>Multiple location support for medium to large size organizations that have multiple tool rooms.</li>
          <li>Employee portals where everyone can see the list of tools that they currently have checked out and when its due back.</li>
          <li>Printable reports in pdf format.</li>
          <li>Tool monitoring that will make it easy to schedule maintenance or order new stuff before the old ones wear out.</li>
        </ul>
      </div>
      <div class="col-md-6">
        <%= image_tag("app-screen.png") %>
      </div>
</section>
<section id="sign-up">
  <div class="container">
    <div class="col-md-10 col-md-offset-1 intro">
      <h1><strong>Sign Up</strong></h1>
      <p class='lead'>ToolHERO is in beta right now, but we have big plans for future development and we want you to be a part of it.</p>
      <p class='lead'> Sign up if you are interested in using the product right now in your organization and let's work together can help us make it even better. If you want to find out more about the release date or keep up to date with ToolHERO&#8217;s development join our mailing list: </p>
      <div class="input-group input-group-lg">
      <span class="input-group-addon">@</span>
      <input type="text" class="form-control" placeholder="Your Email Address">
    </div>
  </div>
</section>

