  <div class="jumbotron">
    <div class="container">
      <%= render 'welcome/nav' %>
      <div id="hero-fade" class="col-md-12 hero-content ">
        <h1 class="hero-title">It&rsquo;s <span class="time-now"></span>.<br>Where are your <span class="typedjs"></span></h1>
        <h3>Get <strong>ToolHERO</strong>. Know where your tools are.</h3>
          <p class="button"><%= link_to "Request Beta Access", beta_path, class: 'btn btn-lg btn-ghost' %></p>
      </div>
    </div>
  </div>

<div>
  <div class="container">
    <div class="col-md-10 col-md-offset-1 intro">
      <h1><strong> ToolHERO is tool-tracking. Perfected.</strong></h1>

      <p class='lead'>Time is money. Time spent looking for your expensive tools is time you&#8217;re not spending on your job. Tracking down who took what and when is frustrating. And let&rsquo;s not even mention the unnecessary hassle of replacing missing equipment.</p>

      <p class='lead slug'>You have better things to do. Save your day with <strong>ToolHERO</strong>.</p>
    </div>   
  </div>
</div>


<section>
  <div class="container">
      <div class="col-md-6">
        <%= image_tag("app-screen.png", :alt => "toolhero") %>
      </div>

      <div class="col-md-6">
        <h2 id="beta">Beta</h2>
        <p>While in beta, you are free to use the application.</p>
        <p><strong>Whats to come?</strong></p>
        <p>Multiple locations, employee portal, reports, monitor and schedule maintenance.</p>
      </div>
  </div>
</section>


<section>
  <div class="container">       
    <h2 id="features">Key Features</h2>
      <div class="col-md-4">
        <h3>Control Your Inventory</h3>
          <p>Tired of using spreadsheets and paper to track your tools or equipment? It&#8217;s time to retire the Excel spreadsheet and (shudder) pen and paper log book that you&#8217;ve been using to track your equipment. Instantly see who your equipment was issued to and by whom.</p>
      </div>

      <div class="col-md-4">
        <h3>Cloud Based</h3>
        <p> Move into the future with cloud based software that you can run on your phone. Know what&#8217;s happening from anywhere on the planet. Manage tools and equipment remotely at any time or day, from anywhere in the world and from any device.</p>
      </div>

      <div class="col-md-4">
        <h3>Easy-to-Use</h3>
        <p>We sweat the pixels so you don't have to get an advanced degree just to use our software. Simple, effective and easy-to-learn, <strong>ToolHERO</strong> will give you the control over your tools that you always wanted for a fraction of the cost of any comparable system.</p>
      </div>
  </div>
</section>

