<div class="modal fade" id="errorModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close cancel_employee" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Data not found. Please try again... <strong id="empSR_barcode"></strong></h4>
      </div>
      <div class="modal-body">
  		  <img src="/assets/unavailable.png" alt="">
        <p>"{{empCtrl.empRadio}}" not found in database.</p>
        <div class="modal-footer">
        	<button class="btn btn btn-danger cancel_employee" data-dismiss="modal" aria-hidden="true">Try again</button>
        </div>
      </div>
    </div>
  </div>
</div>
