
<div class="modal fade" id="toolModal">
	<div class="modal-dialog">
	  <div class="modal-content">
	    <div class="modal-header">
	      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	      <h4 class="modal-title">Scanning tool barcode...</h4>
	    </div>
	    <div class="modal-body">
	      <div id ="webcam_tool_placeholder" style="width:330px" >
	        <div id="webcam_tool">
	        </div>
	      </div>
	    </div>
	    <div class="modal-footer">
	    </div>
	  </div> <!-- end of modal content -->
	</div> <!-- end of modal dialog -->
</div> <!-- end of modal fade -->