@import "bootstrap-sprockets";
@import "bootstrap";

@import "layout";
@import "signin";
@import "dataTables/bootstrap/3/jquery.dataTables.bootstrap";


body {
	// background-color: #F2F2F2;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, 'Lato', sans-serif;
	font-weight: 400px;
	// padding-top: 70px;
	padding-bottom: 40px;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
}

.hero {
	background: url("hero-bg.jpg") no-repeat;
	// background: url('../images/hero.jpg') no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	display: table;
	width: 100%;
	height: 600px;
	margin-top: -20px;
}

.hero-content {
	padding-top: 100px;
}

.jumbotron {
	margin-top: -20px;
	height: 450px;
	background: url("hero-bg.jpg") no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	display: table;
	width: 100%;
}

.container {
	width: 980px;
}

.navbar-default {
	background-color: #FFF;
	border-radius: 0px !important;
}

ul.nav a:hover { 
	color: #F7CA18 !important; 
}

#search-size {
	width: 250px;
}