#flash_notice {
	@extend .alert;
	@extend .alert-success;
}

#flash_error, #flash_alert {
	@extend .alert;
	@extend .alert-danger;
}

#flash-warning {
	@extend .alert;
	@extend .alert-warning;
}



body {
	background-color: #fff;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, 'Lato', sans-serif;
	font-weight: 400px;
	// padding-bottom: 40px;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
	overflow-y: scroll;
}


.navbar-default {
	background-color: #fff;
	border-radius: 0px !important;
}

ul.nav a {
	font-weight: 600 !important;
}

ul.nav a:hover {
	color: #404040 !important;
}

#search-size {
	width: 250px;
}

.btn {
	border-radius: 0;
}


.btn-ghost {
  -webkit-border-radius: 1;
  -moz-border-radius: 1;
  border-radius: 1px;
  color: #fff;
  padding: 10px 20px 10px 20px;
  border: solid #fff 2px;
  text-decoration: none;
  background: transparent;
  position: absolute;
  margin: 20px auto;
	font-weight: 500;
}

.btn-ghost:hover {
  text-decoration: none;
  color: #DE5842;
  border: solid #DE5842 2px;
}

.sign-up {
	top: 50px;
}

.signin {
	top: 150px
}
