#navbar-transparent {
  background: transparent;
  border: 0px;
  font-weight: 500;
  color: #fff;
}


ul.custom-nav a {
  font-weight: 600 !important;
  color: #fff;
}

ul.custom-nav a:hover {
  color: #fff !important;
}

.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: yellow;
}


.navbar-default .navbar-nav > li > a {
  color: silver;
}

#brand-index {
  color: #fff;
}


.jumbotron {
  background: url("hero-bg-1.png") no-repeat center bottom;
  background-size: cover;
  height: 650px;
}

.hero-content {
  top: 90px;
}

.hero-content h1 {

	line-height: 2%;
  text-align: center;
  color: #fff;
  padding: 30px;
}

.hero-content h3 {
  text-align: center;
  color: #fff;
}

.hero-title {
  font-weight: 700;
  text-align: center;
}

p > .button {
  margin-top: 10px;
  text-align: center;
}


.footer-content {
	padding-top: 50px;
}

section {
	margin: 130px auto;

}

.intro h1 {
  text-align: center;
  font-size: 30px;
  margin-bottom: 10px;
}

footer {
  text-align: center;
  margin: 10px auto;
}
