#navbar-transparent {
  background: transparent;
  border: 0px;
  font-weight: 500;
  color: #fff;
}


ul.nav a {
  font-weight: 600 !important;
  color: #fff;
}

ul.nav a:hover {
  color: #fff !important;
}

.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: silver; /*Change rollover cell color here*/
}


.navbar-default .navbar-nav > li > a {
  color: white; /*Change active text color here*/
}

#hero-fade {
  -vendor-animation-duration: 5s;
  -vendor-animation-delay: 2s;
}

.hero-content {
  top: 90px;
  margin: 0px;
}

.hero-content h1 {

	line-height: 2%;
  text-align: center;
  color: #fff;
  padding: 30px;
}

.hero-content h3 {
  text-align: center;
  color: #fff;
}

.hero-title {
  font-weight: 700;
  text-align: center;
}

p > .button {
  margin-top: 10px;
  text-align: center;
}


// .section {
//   padding: 30px 0 70px;
// }

// footer {
//   height: 100px;
//   background-color: #27272B;
//     // margin-top: 100%;
//   position: absolute;
//   left: 0;
//   right: 0;
//   width: 100%;
//   color: #fff;
// }

// .footer-content {
// 	padding-top: 40px;
// }

// section {
// 	margin: 60px auto;
// 	padding: 80px;
//
// }

.jumbotron {
  background: url("hero-bg-1.png") no-repeat center bottom;
  // background: url("hero-bg.jpg") no-repeat center bottom;
  background-size: cover;
  height: 600px;
}
