<!DOCTYPE html>
<html>

  <head>
    <title>Toolhero</title>
    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= yield %>
  </body>

  <footer>
    <div class="container">
          <p>Copyright toolhero.  Proudly made in Toronto.</p>
      </div>
  </footer>


</html>
