<!DOCTYPE html>
<html>

  <head>
    <title>Toolhero</title>
    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
  </head>

  <body>
    <%= yield %>
  </body>

  <footer>
    <div class="container">
          <p>Copyright &copy; toolhero.  Proudly made in Toronto.</p>
      </div>
  </footer>
  <script>
    smoothScroll.init({
        speed: 1500, // Integer. How fast to complete the scroll in milliseconds
        easing: 'easeInOutCubic' // Easing pattern to use
    });
  </script>

</html>
